


*{
    margin: 0;
    padding: 0;
     background-color: #0f1115; 
}

header img{
    padding: 1rem;
}

main{
    height: auto;
    width: auto;
    padding: 2rem;
}

.left{
    height: auto;
    width: auto;
    color: white; 
    background-color: #1a1d23;
    border: 5px solid #2a2f3a;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    border-radius: 1rem;
}

.left h2{
    font-size: 2rem;
    
}

.text{
    padding: 1rem;
    font-family: 'Inria Serif',serif;
    font-weight: 100;
    letter-spacing: 0.5px;
    opacity: 0.9;
}
#k{
    color: #afa98d;
    
}

.left button {
    height: auto;
    width: auto;
    padding: 0.5rem;
    border-radius: .5rem;
    margin-bottom: 1rem;
    color: white;
}

.right{
    height: auto;
    width: auto;
    padding: 1rem;
    margin: 2rem;
     background-color: #1a1d23;
    border: 5px solid #2a2f3a;

    
}
.right h2{
    color: white;
     font-family: 'Inria Serif',serif;
    font-weight: 500;
    

}

.register{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    background-color: ;
}

form{
     display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;


}

form input{
    height: auto;
    width: auto;
    padding: 0.7rem;
    text-align: center;
    border-radius: 0.5rem;
    border: 1px solid gray;
    outline: none;
    color: white;

}

a{
    color: white;
}

@media (min-width:1024px) {
    main{
        height: auto;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0;
        margin: 0;
    }
    header img{
       width: 20%;
    }
    .left{
        height: auto;
        width: 50%;
        padding: 0;
    }
    .right{
        height: auto;
        width: 50%;
        padding: 0;
        border-radius: 1rem;
    }
    .register{
        height: 450px;
        width: auto;
    }
    .register h2{
        font-size: 2rem;
    }
    form{
        gap: 30px;
    }
    form input{
        height: 25px;
        width: 300px;
    }
    #btn{
        height: 40px;
        width: 200px;
    }

}